.sellers {
  :global {
    .page-header {
      margin-bottom: 50px;
      .row {
        row-gap: 15px;
        justify-content: space-between;
      }
      .text {
        margin-bottom: 15px;
        .page-title {
          font-size: 24px;
          line-height: 1;
          margin-bottom: 15px;
          font-weight: 600;
          color: $text-dark;
          [data-theme="dark"] & {
            color: $text-light;
          }
        }
        .page-description {
          color: $text-dark;
          [data-theme="dark"] & {
            color: $text-light;
          }
        }
      }
      a {
        height: 60px;
        display: flex;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
        background-color: $bg-light;
        border-radius: 10px;
        color: $text-dark;
        border: 1px solid $border-color-light;
        [data-theme="dark"] & {
          background-color: $bg-dark-2;
          border-color: $border-color-dark;
          color: $text-light;
        }
      }
    }
    .seller-img {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border: 1px solid $border-color-light;
      [data-theme="dark"] & {
        border-color: $border-color-dark;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    .filterBtn {
      height: 60px;
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: center;
      background-color: $bg-light;
      border-radius: 10px;
      color: $text-dark;
      width: 150px;
      margin-inline-start: auto;
      border: 1px solid $border-color-light;
      [data-theme="dark"] & {
        background-color: $bg-dark-2;
        border-color: $border-color-dark;
        color: $text-light;
      }
      svg {
        width: 20px;
        height: 20px;
        margin-inline-start: 10px;
        fill: $primary-color;
        [data-theme="dark"] & {
          fill: $text-light;
        }
      }
      @media (max-width: 768px) {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        svg {
          margin-inline-start: unset;
          width: 16px;
          height: 16px;
        }
        [dir="ltr"] & {
          left: 20px;
        }
        span {
          display: none;
        }
      }
    }
  }
}
.seller {
  :global {
    .page-header {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        .page-title {
          font-size: 24px;
          line-height: 1;
          margin-bottom: 15px;
          font-weight: 600;
          color: $text-dark;
          [data-theme="dark"] & {
            color: $text-light;
          }
        }
        .page-description {
          color: $text-dark;
          [data-theme="dark"] & {
            color: $text-light;
          }
        }
      }
      a {
        height: 60px;
        display: flex;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
        background-color: $bg-light;
        border-radius: 10px;
        color: $text-dark;
        border: 1px solid $border-color-light;
        [data-theme="dark"] & {
          background-color: $bg-dark-2;
          border-color: $border-color-dark;
          color: $text-light;
        }
      }
    }
    .table-wrapper {
      @media (max-width: 992px) {
        overflow-x: auto;
      }
      margin-bottom: 40px;
      .custom-table {
        width: 100%;
        font-size: 14px;
        border: 1px solid $border-color-light;
        background-color: $bg-light;
        [data-theme="dark"] & {
          border-color: $border-color-dark;
          background-color: $bg-dark-2 !important;
        }
        thead {
          background-color: $bg-light;
          color: $text-dark;
          [data-theme="dark"] & {
            background-color: $bg-dark-2;
            color: $text-light;
          }
        }

        th,
        td {
          border: 1px solid $border-color-light;
          [data-theme="dark"] & {
            border-color: $border-color-dark;
            color: $text-light;
          }
          padding: 20px 15px;
          white-space: nowrap;
        }
        .block-btn {
          width: 100px;
          height: 40px;
          border-radius: 10px;
          background-color: $bg-light;
          border: 1px solid $border-color-light;
          [data-theme="dark"] & {
            background-color: $bg-dark-2;
            border-color: $border-color-dark;
          }
          color: $text-dark;
          [data-theme="dark"] & {
            color: $text-light;
          }
        }
        .seller-img {
          width: 100px;
          height: 100px;
          overflow: hidden;
          border-radius: 10px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          border: 1px solid $border-color-light;
          [data-theme="dark"] & {
            border-color: $border-color-dark;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        tr:hover {
          background-color: $bg-light-2;
          [data-theme="dark"] & {
            background-color: $bg-dark;
          }
        }

        .no-data {
          text-align: center;
          padding: 20px;
          font-style: italic;
          color: #999;
        }
      }
    }
  }
}

.delete-modal {
  :global {
    .modal-header,
    .modal-footer {
      border: none;
    }
    .modal-header {
      padding: 30px 30px 0;
      button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid black;
        outline: none;
        padding: 0;
        background-color: transparent;
        margin-inline-start: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        [data-theme="dark"] & {
          border-color: #fff;
          svg {
            fill: #fff;
          }
        }
      }
    }
    .title {
      margin-bottom: 15px;
    }
    .modal-footer {
      padding: 0 30px 30px;
      margin-top: 20px;
      .btn {
        border: none;
        outline: none;
      }
    }
    .modal-body {
      padding: 0 30px;
      margin-top: 20px;
      textarea {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        outline: none;
        resize: none;
        border: 1px solid $border-color-light;
        background-color: #fff;
        box-shadow: none;
        color: #000;
        font-size: 14px;
        padding: 10px 15px;
        &::placeholder {
          color: #999;
          [data-theme="dark"] & {
            color: #fff;
          }
        }
        [data-theme="dark"] & {
          border-color: $border-color-dark;
          background-color: #17191a;
          color: #fff;
        }
      }
    }

    .modal-content {
      background-color: #ffffff;
      [data-theme="dark"] & {
        background-color: #2c2c2c;
        color: #ffffff;
      }
    }
  }
}
.filtersOffcanvas {
  :global {
    .offcanvas-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid $border-color-light;
      [data-theme="dark"] & {
        border-color: $border-color-dark;
      }
      .offcanvas-title {
        font-size: 20px;
        color: $text-dark;
        [data-theme="dark"] & {
          color: $text-light;
        }
      }
      .btn-close {
        margin: 0;
      }
    }
    .offcanvas-body {
      padding: 20px;
      background-color: $bg-light;
      [data-theme="dark"] & {
        background-color: $bg-dark-2;
      }
      .title {
        font-size: 20px;
        color: $text-dark;
        [data-theme="dark"] & {
          color: $text-light;
        }
      }
      .filterTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        font-size: 16px;
        color: $text-dark;
        [data-theme="dark"] & {
          color: $text-light;
        }
      }
      .form-check {
        margin-bottom: 10px;
        input[type="checkbox"] {
          appearance: none;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          border: 2px solid $primary-color;
          background-color: white;
          cursor: pointer;
          position: relative;

          &:checked {
            background-color: $primary-color;
          }
          box-shadow: none;
          // علامة الصح
          &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: 6px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            display: none;
          }

          &:checked::after {
            display: block;
          }

          [data-theme="dark"] & {
            background-color: $text-light;
            border-color: $text-light;

            &:checked {
              background-color: $text-light;
            }

            &::after {
              border-color: $primary-color;
            }
          }
        }

        label {
          font-size: 16px;
          color: $text-dark;
          [data-theme="dark"] & {
            color: $text-light;
          }
        }
      }
    }
  }
}
