.table-wrapper {
  :global {
    @media (max-width: 992px) {
      overflow-x: auto;
    }
    margin-bottom: 40px;
    .custom-table {
      width: 100%;
      font-size: 14px;
      border: 1px solid $border-color-light;
      background-color: $bg-light;
      [data-theme="dark"] & {
        border-color: $border-color-dark;
        background-color: $bg-dark-2 !important;
      }
      thead {
        background-color: $bg-light;
        color: $text-dark;
        [data-theme="dark"] & {
          background-color: $bg-dark-2;
          color: $text-light;
        }
      }
      .img {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      th,
      td {
        border: 1px solid $border-color-light;
        [data-theme="dark"] & {
          border-color: $border-color-dark;
          color: $text-light;
        }
        padding: 20px 15px;
        white-space: nowrap; // يمنع كسر الأسطر داخل الخلية
      }

      tr:hover {
        background-color: $bg-light-2;
        [data-theme="dark"] & {
          background-color: $bg-dark;
        }
      }
      .actions {
        position: relative;
        .actions-btn {
          border: none;
          outline: none;
          background: none;
          svg {
            fill: #747684;
            [data-theme="dark"] & {
              fill: #ffffff;
            }
          }
        }
        .custom-dropdown {
          position: absolute;
          top: 100%;
          background-color: $bg-light;
          border: 1px solid $border-color-light;
          border-radius: 5px;
          min-width: 120px;
          z-index: 1000;
          right: 0;
          [dir="ltr"] & {
            right: unset;
            left: 0;
          }
          [data-theme="dark"] & {
            background-color: $bg-dark-2;
            border-color: $border-color-dark;
          }
          a,
          button {
            padding: 5px 10px;
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            outline: none;
            gap: 5px;
            font-size: 16px;
            color: $text-dark;
            [data-theme="dark"] & {
              color: $text-light;
            }
          }
        }
      }
      .actions {
        @media (max-width: 992px) {
          .custom-dropdown {
            top: -81%;
            right: -120px;
            [dir="ltr"] & {
              right: unset;
              left: -120px;
            }
          }
        }
      }
      .no-data {
        text-align: center;
        padding: 20px;
        font-style: italic;
        color: #999;
      }
    }
  }
}
